/* rye-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Rye";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/rye-v17-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html,
body {
    height: 100%;
}

h1 {
    font-family: "Rye", serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("./assets/img/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

canvas {
    background-color: black;
}

.d-none{
    display: none;
}

#startScreen{
    height: 480px;
    width: 720px;
    background-image: url("./assets/img/9_intro_outro_screens/start/startscreen_2.png");
    background-size: cover;
    background-position: 75% center;
    background-repeat: no-repeat;
    
}