/* rye-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Rye";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/rye-v17-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    list-style: none;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    background: initial;
    border: initial;
    font-family: "Rye", serif;
    }

html, body {
        height: 100dvh;
        font-size: 24px;
    }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("./assets/img/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    gap: 84px;
}

h1 {
    font-size: 56px;
}

canvas {
    background-color: black;
    border-radius:  16px;
    border: 1px solid rgb(121, 34, 2);
    box-shadow: 14px 12px 40px -10px rgba(0,0,0,0.5);
}

.d-none{
    display: none;
}

#gameContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#startScreen{
    height: 480px;
    width: 720px;
    background-image: url("./assets/img/9_intro_outro_screens/start/startscreen_2.png");
    background-size: cover;
    background-position: 75% center;
    background-repeat: no-repeat;
    border-radius:  16px;
    border: 1px solid rgb(121, 34, 2);
    box-shadow: 16px 12px 60px -10px rgba(0,0,0,0.5);
}

#startMenu{
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    transition: opacity 1s ease;
    background-color: rgb(219, 181, 8);
    border-radius: 16px;
    border: 1px black solid;
    
    height: 60%;
    width: 60%;
}

#startMenu.visible{
    opacity: 1;
}

.menu-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    button{
        width: 240px;
        padding: 4px 6px;
        border: 1px solid black;
        border-radius: 32px;
        box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.1);
        text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    }
}

#fullscreenButton{
    position: absolute;
    top: 16px;
    right: 16px;

    img {
        height: 32px;
    }
}

.dialog-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

#instructionsDialog{
    position: fixed;
    top: 60%; /*50 in fullscreen */
    left: 50%;
    translate: -50% -50%;


    border: 1px solid black;
    border-radius: 16px;
    background-color: rgb(219, 181, 8);
    width: 60%;
    max-width: 680px;
    padding: 24px;

    .controls-table {
        width: 100%;
        border-spacing: 0 12px;
    }

    .controls-table td:last-child {
        text-align: right;
    }

    kbd {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        min-width: 42px;
        padding: 6px 10px;

        border: 1px solid black;
        border-radius: 8px;
        background: white;
        box-shadow: 2px 2px 0 rgba(0,0,0,.2);
    }
}

#closeInstructions {
    width: 220px;
    padding: 8px;

    border: 1px solid black;
    border-radius: 32px;
    background-color: rgb(219, 181, 8);
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.1);
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.end-dialog{
    position: fixed;
    top: 60%;
    left: 50%;
    translate: -50% -50%;

    height: 100%;
    width: 100%;
    
    img{
        height: 70dvh;
    }

    button{
        border: 1px solid black;
        border-radius: 32px;
        width: 220px;
        padding: 8px;
        background-color: rgb(219, 181, 8);
        box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.1);
        text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    }
}

:fullscreen canvas{
    width: 100dvw;
    height: 100dvh;
}

:fullscreen #startScreen{
    width: 100dvw;
    height: 100dvh;
}

:fullscreen #startMenu{
    max-width: 40%;
    max-height: 50%;
}

:fullscreen .end-dialog{
    background-image: url('./assets/img/bg.jpg');
    top: 50%;
}

:fullscreen #instructionsDialog{
    top: 50%;
}

#soundBtn{
    position: absolute;
    top: 56px;
    right: 16px;

    img {
        height: 32px;
    }
}

button:hover{
    cursor: pointer;
    transform: scale(1.1);
}